@import '../../styles/variables.scss';

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  &__input {
    width: 40%;
    padding: 8px $space24;
    background-color: $textPrimaryMain;
    @include fontStyle(16px, 400, 140%, $blackMainColor);
    border-radius: $space16;
    border: 2px solid $borderMainColor;
    &::placeholder {
      color: $blackMainColor;
    }
  }
  &__results {
    position: absolute;
    display: inline-block;
    width: 50%;
    background: $textPrimaryMain;
    height: 300px;
    border-radius: $space16 0 0 $space16;
    overflow-y: scroll;
    top: 50px;
    &::-webkit-scrollbar {
      background: $textPrimaryMain;
      width: 8px;
      height: 10%;
      border-radius: $space16;
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      background: $textPrimarySub;
    }
  }
}