@import '../../styles/variables.scss';

.home {
  width: 100%;
  padding: $space20;
  display: flex;
  flex-direction: column;
  gap: $space16;
  &__title {
    @include fontStyle(36px, 500, 140%, $textPrimaryMain);
  }
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: $space20;
    grid-column-gap: $space20;
  }
  &__item {
    cursor: pointer;
  }
}